* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v52_219 {
  width: 393px;
  height: 852px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v52_220 {
  width: 287px;
  height: 49px;
  background: rgba(247,247,247,1);
  opacity: 1;
  position: absolute;
  top: 178px;
  left: 53px;
  border: 0px solid rgba(0,0,0,1);
}
.v52_293 {
  width: 287px;
  height: 49px;
  background: rgba(247,247,247,1);
  opacity: 1;
  position: absolute;
  top: 541px;
  left: 53px;
  border: 0px solid rgba(0,0,0,1);
}
.v52_227 {
  width: 188px;
  height: 49px;
  background: rgba(0,98,255,1);
  opacity: 1;
  position: absolute;
  top: 668px;
  left: 100px;
  border: 0px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v52_228 {
  width: 152px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 684px;
  left: 120px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v52_229 {
  width: 182px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 88px;
  left: 548px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v52_230 {
  width: 330px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 137px;
  left: 32px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v52_290 {
  width: 330px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 500px;
  left: 32px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v52_291 {
  width: 100px;
  height: 100px;
  background: url("../images/v52_291.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 462px;
  left: 196px;
  overflow: hidden;
}
.v52_285 {
  width: 330px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 287px;
  left: 32px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v52_232 {
  width: 182px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 30px;
  left: 554px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v52_233 {
  width: 182px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 30px;
  left: 13px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v52_254 {
  width: 287px;
  color: rgba(151,151,151,1);
  position: absolute;
  top: 195px;
  left: 53px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v52_294 {
  width: 287px;
  color: rgba(151,151,151,1);
  position: absolute;
  top: 558px;
  left: 53px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v52_335 {
  width: 287px;
  color: rgba(151,151,151,1);
  position: absolute;
  top: 558px;
  left: 53px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
