* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v152_47 {
  width: 393px;
  height: 852px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v152_48 {
  width: 188px;
  height: 41px;
  background: rgba(247,247,247,1);
  opacity: 1;
  position: absolute;
  top: 331px;
  left: 102px;
  border: 0px solid rgba(0,0,0,1);
}
.v152_51 {
  width: 188px;
  height: 41px;
  background: rgba(247,247,247,1);
  opacity: 1;
  position: absolute;
  top: 398px;
  left: 102px;
  border: 0px solid rgba(0,0,0,1);
}
.v152_55 {
  width: 188px;
  height: 49px;
  background: rgba(0,98,255,1);
  opacity: 1;
  position: absolute;
  top: 668px;
  left: 100px;
  border: 0px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v152_56 {
  width: 152px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 684px;
  left: 120px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v152_57 {
  width: 182px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 88px;
  left: 80px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v152_58 {
  width: 364px;
  height: 152px;
  background: url("../images/v152_58.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 231px;
  left: 14px;
  overflow: hidden;
}
.v152_59 {
  width: 364px;
  height: 152px;
  background: url("../images/v152_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v152_61 {
  width: 364px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v152_123 {
  width: 100px;
  height: 100px;
  background: url("../images/v152_123.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 208px;
  overflow: hidden;
}
.v152_62 {
  width: 182px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 30px;
  left: 86px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v152_63 {
  width: 182px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 30px;
  left: 13px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v152_64 {
  width: 177px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 316px;
  left: 107px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v152_65 {
  width: 177px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 383px;
  left: 107px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v152_66 {
  width: 177px;
  color: rgba(151,151,151,1);
  position: absolute;
  top: 453px;
  left: 107px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
