* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v50_55 {
  width: 393px;
  height: 852px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v50_115 {
  width: 182px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 30px;
  left: 14px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v50_117 {
  width: 182px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 30px;
  left: 570px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v50_57 {
  width: 333px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 284px;
  left: 34px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v122_55 {
  width: 100px;
  height: 100px;
  background: url("../images/v122_55.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 797px;
  left: 17px;
  overflow: hidden;
}
